<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DataConversion_Finish/src/dataconversion_finish/DataConversion_Finish.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dataconversion_finish.DataConversion_Finish"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DataConversion_Finish"/>
</launchConfiguration>
